In [14]:
import pandas as pd

df = pd.read_csv('vgames2.csv')

#df.columns

df = df.drop('Unnamed: 0' , axis =1)

df.shape

(16598, 9)

In [2]:
# 결측치 구하기
# 1. 결측치를 어떻게 채울까?
df.isnull().sum()

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [8]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
count_df = df['NA_Sales'].value_counts()


# M은 때고, K는 1000으로 나누면 될까?
# 조건문으로 K가 들어있는거 /1000
# M 들어있는거 걍 M 삭제 하면 될것같다.
# NA, EU, JP , OTHER
#count_df

In [4]:
df['Genre'].describe()

count      16548
unique        12
top       Action
freq        3305
Name: Genre, dtype: object

In [ ]:
df['Genre'].value_counts()

In [ ]:
null_data = df[df.isnull().any(axis=1)]

null_data

In [19]:
Year_data = null_data[['Name','Year']]
null_Year_data = Year_data[Year_data.isnull().any(axis=1)]

In [ ]:
null_Year_data

In [26]:
df['Year'].value_counts()

2009.0    1421
2008.0    1418
2010.0    1252
2007.0    1199
2011.0    1129
2006.0    1001
2005.0     937
2002.0     826
2003.0     768
2004.0     759
2012.0     655
2015.0     609
2014.0     580
2013.0     544
2001.0     480
1998.0     376
2000.0     346
2016.0     339
1999.0     338
1997.0     287
1996.0     260
1995.0     215
1994.0     120
1993.0      60
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      20
1989.0      17
1983.0      17
1987.0      16
1990.0      16
1988.0      15
1984.0      14
1985.0      14
11.0        10
9.0         10
8.0         10
1980.0       9
10.0         7
3.0          7
6.0          7
16.0         5
15.0         5
4.0          4
5.0          4
95.0         4
98.0         3
2017.0       3
96.0         3
7.0          3
0.0          3
2.0          3
1.0          2
97.0         2
12.0         2
14.0         2
13.0         2
94.0         1
2020.0       1
86.0         1
Name: Year, dtype: int64