In [1]:
import pandas as pd

df = pd.read_csv('1st.csv')

In [2]:
df

       Unnamed: 0  ... Other_Sales
0               0  ...        0.00
1               1  ...        0.01
2               2  ...        0.00
3               3  ...        0.00
4               4  ...        0.04
...           ...  ...         ...
16593       16593  ...        0.01
16594       16594  ...        0.00
16595       16595  ...        0.13
16596       16596  ...        0.03
16597       16597  ...        0.01

[16598 rows x 10 columns]

In [3]:
df.isnull().sum()

Unnamed: 0     0
Name           0
Platform       0
Year           0
Genre          0
Publisher      0
NA_Sales       0
EU_Sales       0
JP_Sales       0
Other_Sales    0
dtype: int64

In [4]:
#장르 결측치 채우기

null_data = df[df.isnull().any(axis=1)]

Genre_data = null_data[['Name','Genre']]

null_Genre_data = Genre_data[Genre_data.isnull().any(axis=1)]

null_Genre_data

Empty DataFrame
Columns: [Name, Genre]
Index: []

In [5]:
#퍼블리셔 결측치 채우기
Pub_data = null_data[['Name','Publisher']]

null_Pub_data = Pub_data[Pub_data.isnull().any(axis=1)]

null_Pub_data

Empty DataFrame
Columns: [Name, Publisher]
Index: []

In [6]:
df['Year'] = df['Year'].astype(object)
df['Year'].describe()

count     16598
unique       43
top        2008
freq       1455
Name: Year, dtype: int64

In [7]:
df['NA_Sales'] = df['NA_Sales'].astype(object)
df['NA_Sales'].describe()

count     16598.0
unique      409.0
top           0.0
freq       4499.0
Name: NA_Sales, dtype: float64

In [8]:
df['JP_Sales'] = df['JP_Sales'].astype(object)
df['JP_Sales'].describe()

count     16598.0
unique      244.0
top           0.0
freq      10455.0
Name: JP_Sales, dtype: float64

In [9]:
df['EU_Sales'] = df['EU_Sales'].astype(object)
df['EU_Sales'].describe()

count     16598.0
unique      305.0
top           0.0
freq       5730.0
Name: EU_Sales, dtype: float64

In [10]:
df['Other_Sales'] = df['Other_Sales'].astype(object)
df['Other_Sales'].describe()

count     16598.0
unique      157.0
top           0.0
freq       6477.0
Name: Other_Sales, dtype: float64

In [12]:
df.sort_values(by = ['NA_Sales'],ascending=False)

       Unnamed: 0                                    Name  ... JP_Sales Other_Sales
2908         2908                              Wii Sports  ...     3.77        8.46
4199         4199                       Super Mario Bros.  ...     6.81        0.77
10488       10488                               Duck Hunt  ...     0.28        0.47
1203         1203                                  Tetris  ...     4.22        0.58
12579       12579                          Mario Kart Wii  ...     3.79        3.31
...           ...                                     ...  ...      ...         ...
12673       12673               J-League Excite Stage '96  ...     0.19           0
12672       12672  Tales of the World: Narikiri Dungeon 2  ...     0.19           0
6254         6254                 The Night of the Rabbit  ...        0           0
12669       12669            Harukanaru Toki no Naka de 5  ...     0.04           0
16597       16597                The King of Fighters '95  ...     0.16        0.01

[16598 rows x 10 columns]