In [1]:
import pandas as pd

df = pd.read_csv('1st.csv')

In [2]:
df

       Unnamed: 0  ... Other_Sales
0               0  ...        0.00
1               1  ...        0.01
2               2  ...        0.00
3               3  ...        0.00
4               4  ...        0.04
...           ...  ...         ...
16593       16593  ...        0.01
16594       16594  ...        0.00
16595       16595  ...        0.13
16596       16596  ...        0.03
16597       16597  ...        0.01

[16598 rows x 10 columns]

In [3]:
df.isnull().sum()

Unnamed: 0      0
Name            0
Platform        0
Year            0
Genre           0
Publisher      58
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
dtype: int64

In [4]:
#ìž¥ë¥´ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

null_data = df[df.isnull().any(axis=1)]

Genre_data = null_data[['Name','Genre']]

null_Genre_data = Genre_data[Genre_data.isnull().any(axis=1)]

null_Genre_data

Empty DataFrame
Columns: [Name, Genre]
Index: []